.contenidoAdmin
{
	background: #fff;
	min-height: 600px;

}
.formNoticia
{
	margin: 1em 2em;
	padding: 2em;
}
.menuPrincipal
{
	background: #689F38;	
}
footer
{
	background: #34495e;
  	text-align: center;
  	padding: 1em;
  	width: 100%;
  	position: absolute;
}
.navbar-brand {
  padding: 0.5em 3em;
}
.navbar-default .navbar-nav li a {
  color: #f8f8f8;
  font-size: 0.9em;
}
.imgNoticia
{
	width: 100%;
}